
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.top-Body, .Header{
    padding-left: 65px;
    padding-right: 65px;
}

.Header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    font-size: 48px;
    color: white;
    font-size: large;
    font-weight: bolder;
}

.links{
    display: flex;
    color: white;
    font-size: 18px;
    gap: 40px;
    text-decoration: none;
    list-style-type: none;
}

.top-Body{
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}



.title{
    font-weight: 900;
    color: white;
    font-size: 40px;
}

.body-paragraph{
    font-size: 20px;
    margin-top: 10px;
}

.body-right{
    font-size: 24px;
    background-color: gray;
    padding: 40px;
    height: 200px;
    width: 200px;
}

.top-button{
    color: white;
    background-color: #3882f6;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 8px;
}


.infos{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 15px;
}

.content{
    text-align: center;
    color: gray;
    justify-content: center;
    align-items: center;
}

.bottom-body{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin: 60px;
}

.quote-person{
    text-align: end;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    padding: 5px;
    margin-right: 120px;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 60px;
}

.modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 8px;
    padding: 36px 82px;
    width: 800px;
    gap: 16px;
}

.modal-container{
    color: white;
}

.modal-header{
    font-weight: bold;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.sign-up{
    align-items: center;
    border-style: solid;
    border-color: white;
    color: white;
    font-weight: 600;
    background-color: #3882f6;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    width: 120px; 
}





